@font-face {
    font-family: "Bebas";
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('/fonts/oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('/fonts/oswald/Oswald-Bold.ttf') format('truetype');
}

body {
    font-family: 'Oswald-Regular', sans-serif;
    background-color: #fff;
    color: #fff;
}

/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


/* Intro overlay */
.intro-overlay .top {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 8;
}

.intro-overlay .top>span {
    display: block;
    position: absolute;
    height: 100%;
    width: 33.333vw;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
}

.intro-overlay .top>span:nth-child(2) {
    left: 33.333%;
}

.intro-overlay .top>span:nth-child(3) {
    left: 66.666%;
}


section.intro {
    height: 100vh;
    background-color: #000;
    font-family: 'Bebas', sans-serif;
}

section.intro .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.intro h1 {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 10;
}



section.intro h3 {
    text-transform: uppercase;
    font-family: 'Oswald-Light', sans-serif;
    font-weight: 300;
}

@media(min-width: 768px) {
    section.intro h1 {
        flex-direction: row;
        font-size: 150px;
    }

    section.intro h1>.line {
        margin-right: 100px;
    }
    
    section.intro h1>.line:last-child {
        margin-right: 0;
    }
}